<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.employee.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="com.oa.employee.entity.Department">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="address" property="address"/>
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM department
    </select>

</mapper>
