<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.claim.mapper.EmployeeMapper">

    <select id="selectByDepartmentAndPost" resultType="com.oa.common.entity.Employee">
        SELECT * FROM employee
        <where>
            <if test="departmentId != null">
                department_id = #{departmentId}
            </if>
            AND post = #{post}
        </where>
    </select>

</mapper>
